/*** General ***/
/* Définition de la police */
* 
    {
        font-family: 'Raleway', sans-serif;
    }
/* Variables pour les couleurs */
:root 
    {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
/* Solides icônes  de FontAwesome */
.fa-solid 
    {
        color: var(--main-color);
    }
/* Centrer le contenu du corps de la page */
body 
    {
        display: flex;
        justify-content: center;
    }
/* Largeur maximale et marge intérieure */
.main-container 
    {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

.section-title 
    {
        margin: 0;
        font-size: 22px;
    }
/* Bases pour les cartes (hebergement & populaire) */
.card 
    {
        background-color: white;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        border-radius: 20px;
        text-decoration: none;
        color: black;
        padding: 5px;
    }

.card-subtitle 
    {
        font-size: 14px;
        
    }

.card:visited
    {
        text-decoration: none;
        color: black;
    }


.activites-card 
    {
        background-color: white;
        border-radius: 20px;
        margin: 1rem;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        text-decoration: none;
        color: black;
    }

.card img, .activites-card img 
    {
        object-fit: cover;
    }

.card-title 
    {
        font-size: 16px;
    }

.bold 
    {
        font-weight: 700;
    }

.fa-neutral 
    {
        color: var(--main-bg-color);
    }

/*** Entete ***/
header
    {
        display: flex;
    }

/* Logo de l'en-tête */
header img
    {
        height: 1.2rem;
        margin-right: auto;
        padding-top: 2.5%;
    }
    
.nav
    {
        padding-top: 0.4rem;
    }
    
.nav-item, .nav-item-active
    {
        margin: 4em;
        margin-right: 0;
        color: black;
        text-decoration: none;
    }
    
/* Changement de couleur au survol des éléments de navigation */    
.nav-item:hover, .nav-item-active
    {
        color: var(--main-color);
        border-top: 2px solid #0065FC;
        padding-top: 0.8rem;
    }
    
h1
    {
        font-size: 22px;
    }
    
    
/** Recherche **/
.search-bar
    {
        display: flex;
        margin-bottom: 1rem;
        white-space: nowrap; 
        width: 23.5625rem;
    }
.search-input
    {
        position: relative;
        border: 1px solid var(--main-bg-color);
        font-size: 1.125rem;
        font-weight: 700;
        height: 3rem;
        white-space: nowrap;
    }
.search-input, ::placeholder
    {
        padding-left: 10%;
    }
/** Icon **/
.search-barLogo::before
    {
        content:"\f3c5";
        font-family: FontAwesome;
        background-color: var(--main-bg-color);
        float: left;
        padding: 1.15rem;
        border-radius: 0.9375rem 0rem 0rem 0.9375rem;
        padding-bottom: 0.95rem;
    }
/** Bouton Recherche >1024px **/
.search-button
    {
        position: relative;
        background-color: var(--main-color);
        border-radius: 0rem 0.9375rem 0.9375rem 0rem;
        padding: 1rem 1.15rem;;
    }
    
.search-buttonLabel
    {
        text-decoration: none;
        color: white;
        font-size: 1.125rem;
        font-weight: 700;
    }
/** Bouton Recherche <768px **/
.search-icon
    {
        display: none;
    }

.filter
    {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1.2rem; 
    }

.filter-category 
    {
        display: flex;
        gap: 1rem;
    }

.filter-title
    {
        font-size: 1.125rem;    
    }

.filter-category-1, 
.filter-category-2, 
.filter-category-3, 
.filter-category-4
    {
        display: flex;
        height: 50px;
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        font-weight: 700;
        font-size: 0.875rem;
        border: 2px solid var(--main-bg-color);
        border-radius: 1.5625rem;
    }
/* Filtres Affichage */
.filter-category-1::before, 
.filter-category-2::before, 
.filter-category-3::before, 
.filter-category-4::before
    {
        font-family: FontAwesome;
        font-size: 1.375rem;
        color: var(--main-color);
    }

.filter-category-1::before
    {
        content: "\f53a";
    }
.filter-category-2::before
    {
        content:"\f183";
    }
.filter-category-3::before
    {
        content:"\f004";
    }
.filter-category-4::before
    {
        content:"\f06d";
    }
/* Filtres Survol  */
.filter-category-1:hover, 
.filter-category-2:hover, 
.filter-category-3:hover, 
.filter-category-4:hover
    {
        background-color: var(--filter-bg-color);
        cursor: default;
    }

/*  Logement info */
.search-info
    {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        gap: 0.6rem;
    }


 /* Icon info */
.search-info::before
    {
        content:"\f129";
        font-family: FontAwesome;
        font-size: 0.7rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        
        color: var(--main-color);
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires 
    {
        display: flex;
        justify-content: space-between;
    }

.hebergements-and-populaires section 
    {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

.card:hover
    {
        cursor: pointer;
        background-color: var(--filter-bg-color);
    }



/****** Hebergements ***********/
.hebergements 
    {
        width: 65%;
    }

.hebergements-cards
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
.hebergements-cards .card
    {
        flex-basis: calc(33% - 30px);
        flex-direction: column;
        margin-top: 1.5em;

    }

.hebergements-cards img 
    {
        width: 100%;
        height: 7.75rem;
        border-radius: 1.25rem 1.25rem 0rem 0rem;
        object-fit: fill;
    }

.hebergements-cards .card-content 
    {

        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

.hebergements-cards .card-title 
    {
        white-space: wrap;
        margin-top: 10px;
        margin-bottom: 4px;
    }

.hebergements-cards .card-subtitle 
    {
        white-space: nowrap;
        margin-bottom: 2rem;
    }

.hebergements-cards .card-rating 
    {
        position: fixed;
        bottom: 0.5em; 
    }

.hebergements .show_more_cards 
    {
        display: flex;
        margin-top: 2rem;
        font-weight: 700;
        font-size: 1.125rem;
    }


/****** Populaires ***********/
.populaires 
    {
        width: 32%;
    }

.populaires-title 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.populaires-cards .card 
    {
        display: flex;
        margin-top: 33px;
    }

.populaires-cards img 
    {
        width: 33%;
        height: 9.125rem;
        border-radius: 1.25rem 0rem 0rem 1.25rem;

    }

.populaires-cards .card-content 
    {
        
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

.populaires-cards .card-title 
    {
        margin-top: 10px;
        margin-bottom: 4px;
        width: fit-content;
    }

.populaires-cards .card-subtitle 
    {
        margin: 0;
    }

.populaires-cards .card-rating 
    {
        margin-bottom: 5px;   
    }

/****** Activites ***********/

.activites
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

.activites-card:hover
    {
        cursor: pointer;
        background-color: var(--filter-bg-color);
    }   

.activites-cards
    {
        display: flex;
        justify-content: space-between;
    }

.activites-title 
    {
        display: flex;
        align-items: center;
        margin-top: 5rem;
    }

.activites-cards .activites-card 
    {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        width: 33%;
    }

.activites-cards img 
    {
        height: 23.75rem;
        width: 100%;
        border-radius: 1.25rem 1.25rem 0rem 0rem;
        object-fit:cover;
    }

.activites-cards .card-content 
    {
        padding: 1rem;
    }

.activites-cards .card-title 
    {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

.footer 
    {
        display: flex;
        flex-direction: row;
        background-color: var(--main-bg-color);
        margin-top: 4rem;
        padding: 2rem 2rem 2rem 2rem;
        width: 100%;
        align-self: center;
    }



.footer-content
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align:start;
    }


.footer-content .a-neutral
    {
        padding: 10px;
        font-size: 1rem;
    }

.a-bold
    {
        padding: 10px;
        font-size: 1.125rem;    
        font-weight: 700;
    }



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires 
        {
            flex-direction: column;
        }

    .hebergements 
        {
            width: 100%;
        }

    .hebergements-cards img 
        {
            object-fit:cover;
        }


    .populaires
        {
            width: 100%;
            margin-top: 50px;
        }

    .populaires-cards 
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    .populaires-cards .card 
        {
            width: 30%;
        }
        
    .populaires-cards img
        {
            width: 91px;
        }

    .populaires-cards .card-subtitle 
        {
            font-size: 14px;
        }

    
    .activites-cards 
        {
            justify-content: center;
        }
    
    .activites-cards img 
        {
            height: 12.5rem;
            width: 100%
        }
    
    .activites-card 
        {
            height: 17rem;
            width: 33%;
        }
    
    .activites-cards .card-content 
        {
            padding: 0% 10%;        
        }
        
    .card-title 
        {
            padding-right: 10px;
        }

    .filter 
        {
            flex-direction: column;
            align-items: baseline;
        }

    .filter-title 
        {
            margin: 0;
            display: flex;
            align-self: flex-start;
        }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    .main-container
        {
            padding: 0;
        }

    header
        {
            display: flex;
            flex-direction: column;
            align-items: center; 
        }

    header img
        {
            margin: 1rem;
        }

    body 
        {
            margin: 0;
        }

    .nav
        {
            display: flex;
            text-align: center;
            width: 100%;
            
        }

    .nav-item, .nav-item-active
        {
            margin: auto;
            border-bottom: 2px solid var(--main-bg-color);
            width: 100%;
            flex-wrap: nowrap;
            padding: 10px;
        }

    .nav-item:hover, .nav-item-active
        {
            color: var(--main-color);
            border-color: var(--main-color);
            border-top: none;
            padding: 10px;
        }

    .search
        {
            margin: 8%;
            margin-bottom: 0;
        }

    .search-bar
        {
            display: flex;
            flex-direction: row;
            width: 21rem;
        }
    
    .search-input
        {
            height: 3rem;
            width: 175%;

        }

    .search-icon
        {
            display: inline-flex;
            z-index: 1;
            background-color: var(--main-color);
            color: white;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border: 1px solid var(--main-color);
            border-radius: 0.9375rem;
            padding: 1.15rem;
            margin-left: 40%;
            margin-bottom: center;
        }
    

    .search-button
        {
            display: none;
        }

    .filter
        {
            justify-items: center;
            align-items: center;
        }
        
        .filter-category
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        .filter-category  div 
        {
            flex: 26%;
        }


        .hebergements-and-populaires section
        {
            flex-basis: 50%;
            flex-wrap: wrap;
            border-radius: 0;
        }

        .populaires 
        {
            order: 1;
            display: flex;
            flex-direction: column;
            background-color: initial;
            justify-content: center; 
            width: 100%;
            margin-top: 0;
        }
    
    .populaires-cards
        {
            display: flex;
            flex-direction: column;
        }
    
    .populaires-cards .card
        {
            width: 100%;
        }
    
    .populaires-cards .card-content
        {       
            width: 100%;
        }
    
    .populaires-cards img 
        {
            width: 50%; 
        }
    
    .hebergements 
        {
            order: 2;
            display: flex;        
            justify-content: center; 
        }

    .hebergements-and-populaires .hebergements 
        {
            background-color: white;
        }

    .hebergements-cards 
        {
            display: flex;
            gap: 2rem;
        }
        
    .hebergements-cards :nth-child(5) { order:-1; }

    .hebergements-cards .card
        {
            flex-basis: 100%;
            width: 100%;
            flex-direction: column;
            margin-top: 15px;
        }

    .activites-title
        {
            margin-top: 50px;
            margin-bottom: 33px;
            margin-left: 10%;
        }

    .activites-cards
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    .activites-cards .activites-card
        {
            width: 80%;
            margin-top: 0px;
        }


    .activites-cards img 
        {
            width: 100%;
        }

    .activites-cards .card-content 
        {
            padding: 0% 19px;        
        }

    .footer 
        {
            display: flex;
            flex-direction: column;
            gap: 3.12rem;
        }


}